In [1]:
import tushare as ts
import pandas as pd
import time
from tqdm import tqdm
pro = ts.pro_api('5d2dd2c56bb822ac0e818aaa4b0b344f95c7d5e7b9c83c69e2ed90ff')

In [2]:
sum_fund_stock = pd.read_csv("data/sum_fund_stock.csv", index_col=0)

In [3]:
sum_fund_stock

          ts_code     symbol       avg_mkv
0       000001.OF  000002.SZ  4.036247e+07
1       000001.OF  000009.SZ  2.595077e+05
2       000001.OF  000034.SZ  4.221638e+05
3       000001.OF  000063.SZ  3.945497e+06
4       000001.OF  000069.SZ  1.886667e+06
...           ...        ...           ...
745719  770001.OF  603939.SH  9.201111e+04
745720  770001.OF  688081.SH  4.200156e+03
745721  770001.OF  688090.SH  6.797117e+03
745722  770001.OF  688181.SH  4.820697e+03
745723  770001.OF  688363.SH  8.216667e+03

[745724 rows x 3 columns]

In [7]:
fund_stock = sum_fund_stock.pivot_table(columns='symbol', values='avg_mkv', index=('ts_code')).reset_index().fillna(0)

In [8]:
fund_stock

symbol,ts_code,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,...,688596.SH,688598.SH,688599.SH,6886.HK,688600.SH,688981.SH,6969.HK,9928.HK,LNVGY.OO,TTNDY.OO
0,000001.OF,0.00,4.036247e+07,0.0,0.0,0.0,0.0,0.000000,259507.722222,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,000003.OF,0.00,0.000000e+00,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,000004.OF,0.00,0.000000e+00,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,000007.OF,0.00,0.000000e+00,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,000008.OF,0.00,0.000000e+00,0.0,0.0,15150.5,0.0,21209.666667,41856.955556,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3977,740101.OF,0.00,0.000000e+00,0.0,0.0,0.0,0.0,11526.055556,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3978,750001.OF,0.00,2.153730e+05,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3979,750005.OF,0.00,2.261889e+04,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3980,762001.OF,1517032.75,5.668023e+05,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,43188.231667,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3981,770001.OF,25250.00,3.451111e+04,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
fund_stock.to_csv("data/fund_stock_mkv_version.csv")