In [151]:
import tushare as ts
import pandas as pd
from math import isnan
pro = ts.pro_api('5d2dd2c56bb822ac0e818aaa4b0b344f95c7d5e7b9c83c69e2ed90ff')

In [137]:
fund_list_O = pro.fund_basic(market = 'O') # 场外基金

In [138]:
fund_list_E = pro.fund_basic(market = 'E') # 场内基金

In [139]:
fund_list = pd.concat([fund_list_E, fund_list_O], ignore_index=True) # merge the 2 fund table to get a whole perspect

In [140]:
fund_list = fund_list.drop(fund_list[(fund_list['found_date'] > '20180101') | (fund_list['delist_date'] < '20201231')].index) # delete funds with found_date after 2018.01.01

In [141]:
fund_list = fund_list.drop(columns=['exp_return', 'benchmark', 'm_fee', 'c_fee', 'min_amount', 'purc_startdate', 'redm_startdate']) # delete 预期收益率, 业绩比较基准, 管理费, 托管费, 起点金额(万元), 日常申购起始日, 日常赎回起始日

In [142]:
fund_list = fund_list.drop(columns=['found_date', 'due_date', 'list_date', 'issue_date', 'delist_date']) # delete some dates, this can be revealed in funds' semi-year reports, also portfolios.

In [143]:
fund_list = fund_list.drop(columns=['type', 'trustee', 'custodian', 'management', 'invest_type', 'duration_year'])

In [153]:
fund_list = fund_list.drop(fund_list[pd.isnull(fund_list['issue_amount'])].index)

In [145]:
fund_list = fund_list.reset_index(drop=True)

In [154]:
fund_list

,ts_code,name,fund_type,issue_amount,duration_year,p_value,status,invest_type,market
0,512980.SH,传媒ETF,股票型,2.7472,NaN,1.0,L,被动指数型,E
1,510390.SH,平安沪深300ETF,股票型,57.2306,NaN,1.0,L,被动指数型,E
2,159958.SZ,创业板ET,股票型,2.5181,NaN,1.0,L,被动指数型,E
3,510800.SH,50ETF基金,股票型,2.1058,NaN,1.0,L,被动指数型,E
4,501053.SH,东方红目标优选,混合型,9.9042,NaN,1.0,L,混合型,E
...,...,...,...,...,...,...,...,...,...
7178,2060011.OF,鹏华行业成长,混合型,39.7718,NaN,1.0,D,平衡型,O
7179,020001.OF,国泰金鹰增长,混合型,22.2637,NaN,1.0,L,灵活配置型,O
7180,000001.OF,华夏成长,混合型,32.3683,NaN,1.0,L,成长型,O
7181,202001.OF,南方稳健成长,混合型,34.8894,NaN,1.0,L,成长型,O
7182,040001.OF,华安创新,混合型,50.0000,NaN,1.0,L,创新型,O

In [1]:
fund_list.to_csv("data/fund_list.csv")

NameError: name 'fund_list' is not defined